*

!.gitignore
!crear_cuenta.php
!validar_c_c.php
!conexion.php

!iniciar_sesion.php
!validar_i_s.php

!pass_olvidada.php
!validar_p_o.php

!chat.php
!salir.php
!dato_chat.php
!mensaje.php
!obtener_mensajes.php
!msj.php
!env_msj.php